[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/lowkey"]
	path = themes/lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme
